.company-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.company-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);

&:hover,
&:focus {
  border-color: var(--primery-accent-color);
}}
.company__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);

&:hover,
&:focus {
  fill: var(--primery-accent-color);
}}
