@media screen and (max-width: 767px)
{
.hero {
  background-color: var(--primary-dark-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img-mobile.jpg");
  background-size: cover;
  max-width: 480px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 116px 0;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url('../images/hero-img-mobile@2x.jpg');
  }
}

.hero-section__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin: 0 auto;
  margin-bottom: 30px;
} 

}
@media screen and (min-width: 768px)
{
.hero {
  background-color: var(--primary-dark-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img-tablet.jpg");
  background-size: cover;
  max-width: 768px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero {
    background-image: url('../images/hero-img-tablet@2x.jpg');
  }
}

.hero-section__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
} 
}


@media screen and (min-width: 1200px)
{
 .hero {
  background-color: var(--primary-dark-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img-desktop.jpg");
  background-size: cover;
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .banner {
    background-image: url('../images/hero-img-desktop@2x.jpg');
  }
}


.hero-section__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
} 
}

