@media screen and (max-width: 767px) {
  .flex-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    column-gap: 8px;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .flex-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .flex-menu {
    margin-bottom: 50px;
  }
}
